html,
body {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: no-repeat center -200px fixed;
	background-site: cover;
}

.holder {
	margin: 0 auto;
	width: 960px;
}

.main,
.content {
	width: 100%;
	min-height: 800px;
}
	.main section .header,
	.content section .header {
		background: rgba(200, 200, 200, 0.2);
		padding: 10px 0 25px;
		border-bottom: 1px solid #eee;
	}
		.main section .header header h1,
		.content section .header header h1 {
			text-align: right;
			font-family: 'Bad Script', cursive;
			color: #fff;
		}
	.main .widget,
	.content .widget {
		margin-top: 20px;
		float: left;
		padding: 0 10px;
	}
	.main .widget-soundcloud,
	.content .widget-soundcloud {
		width: 600px;
	}
	.main .widget-twitter,
	.content .widget-twitter {
		width: 360px;
	}
	.main .widget-mailchimp #mc_embed_signup,
	.content .widget-mailchimp #mc_embed_signup {
		margin-left: 85px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.main .sep,
	.content .sep {
		margin: 50px 0;
		height: 1px;
		width: 100%;
	}
